.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #1d355d;
  margin-bottom: 10px;
}

.score {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.body {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: 2px solid #1d355d;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1d355d;
  color: #ffffff;
}

.number {
  color: #60bf88;
  font-size: 40px;
}
